<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inloggen</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/static/css/style.css" />
</head>
<body>
<header>
    <div th:replace="fragments/header :: header">
        hier komt de header
    </div>
</header>

<main>
    <h1 class="center">Inloggen</h1>

    <form class="login" th:action="@{/user/login}" method="post">
        <label for="username">Gebruikersnaam :</label>
        <input class="userFormField" type="text" id="username" name="username" placeholder="Gebruikersnaam"><br>

        <label for="password">Wachtwoord :</label>
        <input class="userFormField" type="password" id="password" name="password" placeholder="Wachtwoord">

        <div class="searchButton">
            <input type="submit" value="Inloggen">
            <a th:href="@{/}">Annuleer</a>
        </div>
    </form>
</main>

<footer th:replace="fragments/footer :: footer">
    Hier komt de footer
</footer>

</body>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</html>