<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header th:fragment="header">
    <div class="netmeetPhoto">
        <img th:src="@{/img/netmeet.png}" src="../../static/img/netmeet.png" alt="Netmeet">
    </div>
    <nav class="topnav" id="myTopnav">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/netwerkeventsList}">Netwerkevents</a>
        <a th:href="@{/organisatorsList}">Organisators</a>
        <a th:href="@{/overOns}">Over ons</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
</header>
</body>
</html>