<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/static/css/style.css" />
</head>
<body>
<header>
    <div th:replace="fragments/header :: header">
        hier komt de header
    </div>
</header>

<main>
    <h1 class="center">Oeps er ging iets mis!</h1>
</main>

<footer th:replace="fragments/footer :: footer">
    Hier komt de footer
</footer>

</body>

</html>