<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title th:text="${netwerkevent.naamNetwerkEvent}">Netwerkeventdetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/static/css/style.css" />
</head>
<body>
<header>
    <div th:replace="fragments/header :: header">
        hier komt de header
    </div>

    <div class="buttonNextPrev">
        <a class="vorige" th:if="${prev!=null}" th:href="@{'/netwerkeventdetails/' + ${prev}}">&larr;</a>
        <a class="volgende" th:if="${next!=null}"  th:href="@{'/netwerkeventdetails/' + ${next}}">&rarr;</a>
        <a class="volgende" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{|/admin/edit-netwerkevent/${netwerkevent.id}|}">Edit</a>
    </div><br>

    <h1 th:text="${netwerkevent.naamNetwerkEvent} + ' - ' + ${netwerkevent.datum}"></h1>
</header>

<main>
    <div th:if="${netwerkevent} != null">
        <table>
            <tr>
                <td><p>Info :</p></td>
                <td><p th:text="${netwerkevent.info}" >Info netwerkevent</p></td>
            </tr>
            <tr>
                <td><p>Organisator :</p></td>
                <td><a th:text="${netwerkevent.organisator.naam}" th:href="@{|/organisatordetails/${netwerkevent.organisator.id}|}" >Organisator</a></tr>
            <tr>
                <td><p>Vakgebied :</p></td>
                <td><p th:text="${netwerkevent.vakGebied.naamVakgebied}">Vakgebied</p></td>
            </tr>
            <tr>
                <td><p>Maximum aantal aanwezigen? :</p></td>
                <td><p th:text="${netwerkevent.locatie.maxAanwezigen}">0</p></td>
            </tr>
            <tr>
                <td><p>Adres :</p></td>
                <td><a th:text="${netwerkevent.locatie.getAdres()}" th:href="@{|/locatie-details/${netwerkevent.locatie.id}|}">Adres</a></td>
            </tr>
            <tr>
                <td><p>Start uur :</p></td>
                <td><p th:text="${netwerkevent.startUur}">0u00</p></td>
            </tr>
            <tr>
                <td><p>Duur :</p></td>
                <td><p th:text="${netwerkevent.duur}">0u00</p></td>
            </tr>
        </table>
    </div>

    <div th:unless="${netwerkevent} != null">
        <h1>Netwerkevent niet gevonden</h1>
    </div>

</main>

<footer th:replace="fragments/footer :: footer">
    Hier komt de footer
</footer>

</body>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</html>