<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Netwerkevents</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/static/css/style.css" />
</head>
<body>
<header>
    <div th:replace="fragments/header :: header">
        hier komt de header
    </div>
    <h1>Netwerkevents</h1>
    <p class="aantalGevonden" th:text="${nrNetwerkevents}  + ' netwerkevenst gevonden'">0 netwerkevents gevonden</p>

    <a sec:authorize="hasRole('ROLE_ADMIN')" class="newItem" th:href="@{/admin/new-netwerkevent}">Nieuw netwerkevent</a>
</header>

<main class="cardGrid">
    <div class="filter">
        <h3>Filters</h3>
        <form>
            <h4 class="hFilter">Provincie</h4>
            <div>
                <input type="radio" id="provincieOost-Vlaanderen" name="provincieId" value="1" th:checked="${checkedProvincie eq 1}">
                <label for="provincieOost-Vlaanderen">Oost-Vlaanderen </label>
            </div>
            <div>
                <input type="radio" id="provincieWest-Vlaanderen" name="provincieId" value="2" th:checked="${checkedProvincie eq 2}">
                <label for="provincieWest-Vlaanderen">West-Vlaanderen </label>
            </div>
            <div>
                <input type="radio" id="provincieAntwerpen" name="provincieId" value="3" th:checked="${checkedProvincie eq 3}">
                <label for="provincieAntwerpen">Antwerpen </label>
            </div>
            <div>
                <input type="radio" id="provincieLimburg" name="provincieId" value="4" th:checked="${checkedProvincie eq 4}">
                <label for="provincieLimburg">Limburg</label>
            </div>
            <div>
                <input type="radio" id="provincieVlaams-Brabant" name="provincieId" value="5" th:checked="${checkedProvincie eq 5}">
                <label for="provincieVlaams-Brabant">Vlaams-Brabant </label>
            </div>

            <h4 class="hFilter">Aanwezigen</h4>
            <label for="minAanwezigen">Min. aanwezigen:</label>
            <input type="number" id="minAanwezigen" name="minAanwezigen" th:value="${minAanwezigen}" step="10"><br>

            <label for="maxAanwezigen">Max. aanwezigen:</label>
            <input type="number" id="maxAanwezigen" name="maxAanwezigen" th:value="${maxAanwezigen}" step="10">

            <div class="searchButton">
                <input type="submit" value="Zoek">
                <a th:href="@{/netwerkeventsList}">Reset</a>
            </div>
        </form>
    </div>

    <section class="project-cards">

        <div th:each="netwerkevent: ${netwerkevents}">
            <div class="card">
                <h4><b th:text="${netwerkevent.naamNetwerkEvent}"></b></h4>
                <p th:text="${'Info: ' + netwerkevent.info}"></p>
                <p th:text="${'Provincie: ' + netwerkevent.locatie.provincie.provincieNaam}"></p>
                <div class="container">
                    <div class="moreInfoButton">
                        <a th:href="@{|/netwerkeventdetails/${netwerkevent.id}}">Meer info</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

<footer th:replace="fragments/footer :: footer">
    Hier komt de footer
</footer>

</body>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</html>