<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${organisator.naam}">Organisatordetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/static/css/style.css" />
</head>
<body>
<header>
    <div th:replace="fragments/header :: header">
        hier komt de header
    </div>
</header>

<main>
    <div th:if="${organisator}">
        <div class="organisator-info">
            <h1 th:text="${organisator.naam}"></h1>
            <h4>Info:</h4>
            <p th:text="${organisator.info}">Info organisator</p>
        </div>


        <div th:if="${netwerkevents.size() != 0}" >
            <h2 class="center">Netwerkevents van ons</h2>
            <div class="project-cards" style="">
                <div th:each="netwerkevent: ${netwerkevents}">
                    <div class="card medium-card">
                        <h3><b th:text="${netwerkevent.naamNetwerkEvent}"></b></h3>
                        <div class="moreInfoButton">
                            <a th:href="@{|/netwerkeventdetails/${netwerkevent.id}}">Meer info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:unless="${organisator}">
        <h1 class="center">Organisator niet gevonden</h1>
    </div>
</main>

<footer th:replace="fragments/footer :: footer">
    Hier komt de footer
</footer>

</body>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</html>